@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.center-text {
  text-align: center;
}

.todo-container {
  display: flex;
  justify-content: space-evenly;
}

.todo-wrapper {
  background-color: #6f4e8f;
  padding: 25px;
}

.new-todo {
  background-color: #d1b4ed;
  padding: 20px;
  margin-top: 10px;
  width: 300px;
}

input {
  margin-bottom: 25px;
}

.todo-button {
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #343434;
  color: white;
}

.todo-button:hover {
  background-color: #121212;
}
