@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.tasks {
  font-size: 2em;
  padding: 25px 0;
  margin-left: 120px;
}

.todo-container {
  display: flex;
  justify-content: space-evenly;
}

.todo-wrapper {
  background-color: #e6ffc6;
  padding: 25px;
  width: 350px;
  min-height: 600px;
}

form {
  display: flex;
  flex-direction: column;
}

.add-btn {
  background-color: #d4fe9f;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  margin: 10px 0;
}

.add-btn:hover {
  animation: btn-animation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes btn-animation {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.35);
  }
}

textarea {
  outline: none;
  border: none;
  resize: none;
  padding: 5px;
}

.input-title {
  text-align: top;
  height: 50px;
  margin-bottom: 10px;
}

.input-desc {
  height: 75px;
}

.task {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.3);
}
.title {
  font-weight: bolder;
}
